<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1023px; height: 524px; left: 209px; top: 130px; position: absolute; background: #F6F6F6; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px"></div>
        <div style="left: 797px; top: 302px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your Friendly Bus Guide!</div>
        <div style="left: 858px; top: 373px; position: absolute; color: black; font-size: 24px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Continue As -</div>
        <div style="width: 376px; height: 60px; left: 754px; top: 434px; position: absolute">
            <div style="width: 376px; height: 60px; left: 0px; top: 0px; position: absolute; background: #1C7C54; border-radius: 20px"></div>
            <div style="left: 159px; top: 12px; position: absolute; color: white; font-size: 24px; font-family: Poppins; font-weight: 600; word-wrap: break-word">USER</div>
        </div>
        <div style="width: 376px; height: 60px; left: 753px; top: 519px; position: absolute">
            <div style="width: 376px; height: 60px; left: 0px; top: 0px; position: absolute; background: #B1CF5F; border-radius: 20px"></div>
            <div style="left: 150px; top: 12px; position: absolute; color: white; font-size: 24px; font-family: Poppins; font-weight: 700; word-wrap: break-word">GUEST</div>
        </div>
        <div style="width: 442px; height: 83px; padding-bottom: 8px; padding-right: 40px; left: 742px; top: 237px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: black; font-size: 50px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Cebu Transport </div>
        </div>
        <div style="width: 512px; height: 526px; left: 209px; top: 128px; position: absolute; background: #DEF4C6; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
        <img style="width: 413px; height: 413px; left: 279px; top: 185px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/413x413" />
    </div>
</body>
</html>